/* * {
    margin: 0;
    padding: 0;
}*/
html,body {
    height: 100%;
}
.wrapper {
    width: 100%;
	height: 100%;
    overflow: hidden;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.video-container {
    position: relative;
    margin:0px 0px 0px 0px;
    /*display: flex;*/
    width: 400px;
    margin-left: 650px;
    margin-right: 400px;
    /*right:50px;
    left:50px;*/
    /*justify-content: space-around;*/
}
.video-item > h2 {
    text-align: center;
}
.video-item > video {
    border: 2px solid green;
    width:800px;
    height:600px;
    background: #000;

    /*left:100px;
    right:100px;*/


}
button{
    border: none;
    font-size: 14px;
    background: #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#app{
    margin: 0;
    width:1500px;
    height:150px;
    }
.button-container{
    margin:20px 650px 20px 650px;
    }
.record-button{
    float:left;
    }
.stop-button{
    text-align:center;
    }
.next-button{
    float:right;
    }

