.hidden {
  display: none;
}

.clock {
  position: relative;

  width: 200px;
  height: 200px;
  background: black;
  border: 3px solid black;
  border-radius: 50%;

  .index {
    position: absolute;
    display: inline-block;
    background: white;

    &-12 {
      min-width: 2.5%;
      height: 10%;
      left: 50%;
      top:0;
      transform: translate(-50%, 0);
    }

    &-3 {
      min-width: 10%;
      height: 2.5%;
      right: 0;
      top:50%;
      transform: translate(0, -50%);
    }

    &-6 {
      min-width: 2.5%;
      height: 10%;
      left: 50%;
      bottom:0;
      transform: translate(-50%, 0);
    }

    &-9 {
      min-width: 10%;
      height: 2.5%;
      left: 0;
      top:50%;
      transform: translate(0, -50%);
    }
  }

  .hand {
    position: absolute;
    width: 2.5%;
    height: 20%;
    left: 48.75%;
    top: 30%;

    animation: rotate 6s linear infinite;
    transform-origin: 50% 100%;
    animation-play-state: paused;

    background: white;
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.clock-wrapper {
  display: flex;
}

.btn-area {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: red;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.clock-starter-btn {
  &::after {
    display: block;
    content: '시작';
  }
}


.clock-init:active ~ .clock-wrapper {
  .clock .hand {
    animation-name: unset;
  }
}

.clock-starter:checked ~ .clock-wrapper {
  .clock .hand {
    animation-play-state: running;
  }
  .btn-area .clock-starter-btn {
    background: blue;
    &::after {
      display: block;
      content: '정지';
    }
  }
}
